#canvas-div{
  display: inline-block;
  vertical-align: top;
  background: #cde4ff;
  width: 70%;
  /*padding: 0.5em 1em;
  margin: 2em 0;*/
  border: solid 3px #000000;
}

#canvas{
  padding: 0.5em 1em;
  margin: 2em 0;
}

#menu{
  display: inline-block;
  vertical-align: top;
  width: 20%;
}
#menu1{
  background: #ffcde4;
  height: auto;
  /*padding: 0.5em 1em;
  margin: 2em 0;*/
  border: solid 3px #000000;
  text-align:center;
}
#menu2{
  background: #ffcde4;
  height: auto;
  /*padding: 0.5em 1em;
  margin: 2em 0;*/
  border: solid 3px #000000;
  text-align:center;
}
